@use '../abstracts/variables' as variable;
header {
    height:120px;
    position: relative;
    display: flex;
    align-items: center;
    border-bottom: 2px solid variable.$color-border;
    margin: 15px 80px 15px 80px;

    img{
        height: 70%;
        display: inline-block;
        border-radius: 20px;
    }

    h2{
        display: inline-block;
        margin-left: 10px;
    }
}